* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
  

.allegory-nav__container{
    width: 100%;
    height: 7rem !important;
    display: flex;
    padding: 15px 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #5F5F5F;
    justify-content: space-between;
}

.allegory-nav__logo{
    display: flex;
    justify-content: center;
  
}

.allegory-nav__logo img{
    height: 50px;
    width:auto;
}

.allegory-nav__logo a{
    text-decoration: none;
    color: #000;
}

.btn-calipso{
    background-color: #8CD7D7;
    height:50px;
    border-radius:50px;
    font-weight:700;
    padding-left: 40px;
    padding-right:40px;
}


.allegory-nav__links--left ul{
    display: flex;
    list-style: none;
    flex-direction: row;
}

.allegory-nav__links--left > a{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-weight: 500;
    color: #000;
    font-size: 14.5px;
}

.allegory-nav__links--left > a:hover{
    color: #8CD7D7;
    cursor: pointer;
}